<div class="card" [class.expensive]="item.price > 3000">
  @if (item.isDiscount) {
    <div class="promo-badge">Акція %</div>
  }

  <img [src]="item.imageUrl" [alt]="item.title" class="card-img">

  <div class="card-body">
    
    <div class="category-wrapper">
      @switch (item.category) {
        @case (ProductCategory.MEN) { <span class="indicator bg-blue">Man</span> }
        @case (ProductCategory.WOMEN) { <span class="indicator bg-pink">Woman</span> }
        @case (ProductCategory.KIDS) { <span class="indicator bg-blue">Kids</span> }
        @case (ProductCategory.ACCESSORIES) { <span class="indicator bg-orange">Accs</span> }
        @default { <span class="indicator bg-grey">Item</span> }
      }
    </div>

    <h3>{{ item.title | uppercase }}</h3>
    <p class="desc">{{ item.description }}</p>

    <div class="details">
      <p><strong>Бренд:</strong> {{ item.brand?.name }} ({{ item.brand?.country }})</p>
      <p><strong>Розміри:</strong> {{ item.sizes.join(', ') }}</p>
      <p class="date">Додано: {{ item.addedDate | date:'dd.MM.yyyy' }}</p>
    </div>

    <div class="price">
      {{ item.price | currency:'UAH':'symbol-narrow' }}
    </div>

    <div class="card-actions">
      @if (item.quantity > 0) {
        <button class="btn-buy" (click)="onBuyClick()">Купити</button>
      } @else {
        <button class="btn-disabled" disabled>Немає в наявності</button>
      }
    </div>

  </div>
</div>